:root {
  --0: 0px;
  --1: 1px;
  --2: 2px;
  --3: 3px;
  --4: 4px;
  --5: 5px;
  --6: 6px;
  --7: 7px;
  --8: 8px;
  --9: 9px;
  --10: 10px;
  --11: 11px;
  --12: 12px;
  --13: 13px;
  --14: 14px;
  --15: 15px;
  --16: 16px;
  --17: 17px;
  --18: 18px;
  --20: 20px;
  --22: 22px;
  --23: 23px;
  --24: 24px;
  --25: 25px;
  --26: 26px;
  --27: 27px;
  --28: 28px;
  --30: 30px;
  --31: 31px;
  --32: 32px;
  --33: 33px;
  --34: 34px;
  --35: 35px;
  --36: 36px;
  --38: 38px;
  --40: 40px;
  --41: 41px;
  --42: 42px;
  --43: 43px;
  --44: 44px;
  --46: 46px;
  --48: 48px;
  --50: 50px;
  --52: 52px;
  --54: 54px;
  --56: 56px;
  --57: 57px;
  --58: 58px;
  --60: 60px;
  --62: 62px;
  --64: 64px;
  --65: 65px;
  --68: 68px;
  --70: 70px;
  --72: 72px;
  --80: 80px;
  --84: 84px;
  --85: 85px;
  --88: 88px;
  --96: 96px;
  --100: 100px;
  --110: 110px;
  --120: 120px;
  --128: 128px;
  --132: 132px;
  --150: 150px;
  --152: 152px;
  --160: 160px;
  --197: 197px;
  --199: 199px;
  --200: 200px;
  --210: 210px;
  --220: 220px;
  --227: 227px;
  --248: 248px;
  --252: 252px;
  --260: 260px;
  --264: 264px;
  --272: 272px;
  --280: 280px;
  --300: 300px;
  --312: 312px;
  --340: 340px;
  --344: 344px;
  --360: 360px;
  --380: 380px;
  --394: 394px;
  --400: 400px;
  --420: 420px;
  --442: 442px;
  --450: 450px;
  --461: 461px;
  --462: 462px;
  --480: 480px;
  --481: 481px;
  --500: 500px;
  --516: 516px;
  --520: 520px;
  --523: 523px;
  --540: 540px;
  --546: 546px;
  --560: 560px;
  --574: 574px;
  --580: 580px;
  --600: 600px;
  --630: 630px;
  --640: 640px;
  --658: 658px;
  --662: 662px;
  --670: 670px;
  --700: 700px;
  --722: 722px;
  --740: 740px;
  --774: 774px;
  --800: 800px;
  --820: 820px;
  --828: 828px;
  --843: 843px;
  --860: 860px;
  --900: 900px;
  --923: 923px;
  --950: 950px;
  --960: 960px;
  --999: 999px;
  --1002: 1002px;
  --1006: 1006px;
  --1024: 1024px;
  --1072: 1072px;
  --1128: 1128px;
  --1131: 1131px;
  --1192: 1192px;
  --1200: 1200px;
  --1440: 1440px;
  --1600: 1600px;
  --1800: 1800px;
  --1920: 1920px;
  --2100: 2100px;
  --6540: 6540px;
}
